body {
    background-color: rgb(71, 71, 71);
    margin:0;
    padding:0;
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
font-family: 'Orbitron', sans-serif;
    }
    footer{
        position: absolute;
        background-color: black;
        width: 100%;
        height: 8vh;
        color: white;
        bottom: 0;
    }
    footer h2 {
        position: absolute;
        left: 37%;
    }
    h1 {
        text-align: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    .rendeles {
        background-color: black;
        width: 18%;
        margin-left: 15%;
        border: gray dotted 5px;
        height: 8%;
        top: 0;
    }
    form {
        color: white;
        width: 45%;
        margin-left: 28%;
        margin-top: 90px;
    }

    div {
        margin: 0;
        padding: 0;
        width: 230px;
        background-color: #ddddfd ;
        position: fixed;
        height: 100%;
        overflow: auto;
        top: 0%;
      }
      
      div a {
          
        display: block;
        color:black;
        padding: 16px;
        text-decoration: none;
      }
       
      div a.active {
        background-color: slateblue;
        color: black;
      }
      
      div a:hover:not(.active) {
        background-color: black;
        color: slateblue;
      }
      
      div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
      }
      
      @media screen and (max-width: 700px) {
        .sidebar {
          width: 110%;
          height: auto;
          position: relative;
        }
        .sidebar a {float: left;}
        div.content {margin-left: 0;}
      }
      
      @media screen and (max-width: 400px) {
        .sidebar a {
          text-align: center;
          float: none;
        }
      }
    
